docs/ecommpay-knowledge-pipelinev1.n8n.json
{
  "name": "Ecommpay Knowledge Content Pipeline",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      }
    },
    {
      "id": "fetch-topics",
      "name": "Fetch Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "parameters": {
        "url": "https://ecommpay-grbzb.kinsta.app/api/topics",
        "method": "GET",
        "options": {}
      }
    },
    {
      "id": "filter-queued",
      "name": "Filter Queued Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "parameters": {
        "jsCode": "// Filter for queued topics only\nconst allTopics = items[0].json;\n\nif (!Array.isArray(allTopics)) {\n  // Single response object, wrap in array\n  return allTopics.status === 'Queued' ? [{ json: allTopics }] : [];\n}\n\nconst queued = allTopics.filter(t => t.status === 'Queued');\nreturn queued.map(t => ({ json: t }));"
      }
    },
    {
      "id": "check-has-items",
      "name": "Has Queued Topics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "set-in-progress",
      "name": "Update Status → In Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300],
      "parameters": {
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "status", "value": "In Progress" }]
        },
        "options": {}
      }
    },
    {
      "id": "dataforseo-keywords",
      "name": "DataforSEO: Keyword Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 200],
      "parameters": {
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $json.topic }}\",\n    \"location_code\": 2840,\n    \"language_code\": \"en\",\n    \"include_seed_keyword\": true,\n    \"limit\": 20\n  }\n]",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": { "httpBasicAuth": { "id": "DATAFORSEO_CREDENTIAL_ID", "name": "DataforSEO API" } }
    },
    {
      "id": "dataforseo-paa",
      "name": "DataforSEO: People Also Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 400],
      "parameters": {
        "url": "https://api.dataforseo.com/v3/serp/google/organic/live/advanced",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $('Update Status → In Progress').first().json.topic }}\",\n    \"location_code\": 2840,\n    \"language_code\": \"en\",\n    \"device\": \"desktop\",\n    \"os\": \"windows\",\n    \"depth\": 10\n  }\n]",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": { "httpBasicAuth": { "id": "DATAFORSEO_CREDENTIAL_ID", "name": "DataforSEO API" } }
    },
    {
      "id": "merge-seo-data",
      "name": "Merge SEO Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300],
      "parameters": {
        "jsCode": "// Merge keyword suggestions and People Also Ask data\nconst topicData = $('Update Status → In Progress').first().json;\nconst keywordResponse = $('DataforSEO: Keyword Suggestions').first().json;\nconst paaResponse = $('DataforSEO: People Also Ask').first().json;\n\n// Extract keyword suggestions\nlet keywords = [];\ntry {\n  const keywordItems = keywordResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  keywords = keywordItems\n    .slice(0, 15)\n    .map(item => ({\n      keyword: item.keyword,\n      search_volume: item.keyword_info?.search_volume || 0,\n      competition: item.keyword_info?.competition || 'unknown',\n      cpc: item.keyword_info?.cpc || 0\n    }))\n    .sort((a, b) => b.search_volume - a.search_volume);\n} catch (e) {\n  console.log('Error parsing keywords:', e.message);\n}\n\n// Extract People Also Ask questions\nlet peopleAlsoAsk = [];\ntry {\n  const serpItems = paaResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  const paaItems = serpItems.filter(item => item.type === 'people_also_ask');\n  \n  for (const paa of paaItems) {\n    if (paa.items) {\n      for (const q of paa.items.slice(0, 8)) {\n        peopleAlsoAsk.push({\n          question: q.title || q.question,\n          answer_snippet: q.snippet || null\n        });\n      }\n    }\n  }\n} catch (e) {\n  console.log('Error parsing PAA:', e.message);\n}\n\n// Extract related searches if available\nlet relatedSearches = [];\ntry {\n  const serpItems = paaResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  const relatedItems = serpItems.filter(item => item.type === 'related_searches');\n  \n  for (const related of relatedItems) {\n    if (related.items) {\n      relatedSearches = related.items.slice(0, 10).map(r => r.title || r.query);\n    }\n  }\n} catch (e) {\n  console.log('Error parsing related searches:', e.message);\n}\n\nreturn [{\n  json: {\n    ...topicData,\n    seo_enrichment: {\n      keyword_suggestions: keywords,\n      people_also_ask: peopleAlsoAsk,\n      related_searches: relatedSearches\n    }\n  }\n}];"
      }
    },
    {
      "id": "build-outline",
      "name": "Build Document Outline (GPT-4)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1600, 300],
      "parameters": {
        "model": "gpt-4o",
        "options": { "temperature": 0.2 },
        "messages": {
          "values": [
            {
              "content": "You are a document structure expert specializing in SEO-optimized content. Generate ONLY a JSON object with no additional text.\n\nThe JSON must have:\n- title (string): SEO-optimized title\n- sections (array of {heading, description}): Main content sections incorporating relevant keywords\n- faqs (array of {question}): Questions to answer, prioritizing People Also Ask questions\n- target_keywords (array of strings): Primary keywords to target"
            },
            {
              "content": "=Create a comprehensive document outline for: \"{{ $json.topic }}\"\n\nCategory: {{ $json.category || 'General' }}\nPriority: {{ $json.priority }}\n\n--- SEO ENRICHMENT DATA ---\n\nKeyword Suggestions (by search volume):\n{{ $json.seo_enrichment.keyword_suggestions.map(k => `- ${k.keyword} (vol: ${k.search_volume}, competition: ${k.competition})`).join('\\n') || 'No keyword data available' }}\n\nPeople Also Ask Questions:\n{{ $json.seo_enrichment.people_also_ask.map(p => `- ${p.question}`).join('\\n') || 'No PAA data available' }}\n\nRelated Searches:\n{{ $json.seo_enrichment.related_searches.join(', ') || 'No related searches' }}\n\n--- INSTRUCTIONS ---\n1. Use high-volume keywords in section headings where natural\n2. Include ALL People Also Ask questions in the FAQs section\n3. Structure sections to comprehensively cover the topic and related keywords\n4. Return ONLY valid JSON, no markdown or explanation",
              "role": "user"
            }
          ]
        }
      },
      "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } }
    },
    {
      "id": "parse-outline",
      "name": "Parse Outline JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300],
      "parameters": {
        "jsCode": "// Parse the GPT response and extract JSON outline with SEO data\nconst response = $input.first().json;\nconst enrichedData = $('Merge SEO Enrichment Data').first().json;\n\nlet outline;\ntry {\n  // Try to parse the response content\n  const content = response.message?.content || response.choices?.[0]?.message?.content || JSON.stringify(response);\n  // Extract JSON from response (handle markdown code blocks)\n  const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || content.match(/\\{[\\s\\S]*\\}/);\n  outline = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : content);\n} catch (e) {\n  // Fallback outline using SEO data\n  const paaQuestions = enrichedData.seo_enrichment?.people_also_ask || [];\n  outline = {\n    title: enrichedData.topic,\n    sections: [{ heading: 'Overview', description: 'Main content' }],\n    faqs: paaQuestions.map(p => ({ question: p.question })),\n    target_keywords: []\n  };\n}\n\nreturn [{\n  json: {\n    ...enrichedData,\n    outline: outline,\n    title: outline.title || enrichedData.topic,\n    sections: outline.sections || [],\n    faqs: outline.faqs || [],\n    target_keywords: outline.target_keywords || []\n  }\n}];"
      }
    },
    {
      "id": "generate-content",
      "name": "Generate Content (Perplexity)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300],
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert SEO content writer. Write detailed, accurate, and engaging content optimized for search engines. Use markdown formatting. Naturally incorporate target keywords without keyword stuffing.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write comprehensive content for this document:\\n\\nTitle: {{ $json.title }}\\n\\nTarget Keywords to incorporate naturally:\\n{{ $json.target_keywords?.join(', ') || $json.seo_enrichment?.keyword_suggestions?.slice(0,5).map(k => k.keyword).join(', ') || 'N/A' }}\\n\\nSections to write:\\n{{ $json.sections.map((s, i) => `${i+1}. ${s.heading}: ${s.description || ''}`).join('\\\\n') }}\\n\\nFAQs to answer (from People Also Ask):\\n{{ $json.faqs.map((f, i) => `${i+1}. ${f.question}`).join('\\\\n') }}\\n\\nRelated topics to reference:\\n{{ $json.seo_enrichment?.related_searches?.join(', ') || 'N/A' }}\\n\\nProvide complete markdown content for each section. Answer ALL FAQs thoroughly.\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 6000\n}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "PERPLEXITY_CREDENTIAL_ID", "name": "Perplexity API" } }
    },
    {
      "id": "assemble-draft",
      "name": "Assemble Draft Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300],
      "parameters": {
        "jsCode": "// Assemble the final markdown document with SEO metadata\nconst perplexityResponse = $input.first().json;\nconst topicData = $('Parse Outline JSON').first().json;\n\n// Extract content from Perplexity response\nlet generatedContent = '';\ntry {\n  generatedContent = perplexityResponse.choices?.[0]?.message?.content || '';\n} catch (e) {\n  generatedContent = '';\n}\n\n// Build the final markdown\nconst title = topicData.title || topicData.topic;\nlet md = `# ${title}\\n\\n`;\n\nif (generatedContent) {\n  // Use the AI-generated content directly\n  md += generatedContent;\n} else {\n  // Fallback: build from outline\n  for (const s of topicData.sections || []) {\n    md += `## ${s.heading}\\n\\n${s.description || 'Content pending.'}\\n\\n`;\n  }\n  \n  if (topicData.faqs?.length) {\n    md += '## Frequently Asked Questions\\n\\n';\n    for (const f of topicData.faqs) {\n      md += `### ${f.question}\\n\\nAnswer pending.\\n\\n`;\n    }\n  }\n}\n\n// Add SEO metadata section\nconst seoData = topicData.seo_enrichment || {};\nif (seoData.keyword_suggestions?.length || seoData.related_searches?.length) {\n  md += '\\n---\\n\\n## SEO Metadata\\n\\n';\n  \n  if (topicData.target_keywords?.length) {\n    md += `**Target Keywords:** ${topicData.target_keywords.join(', ')}\\n\\n`;\n  }\n  \n  if (seoData.keyword_suggestions?.length) {\n    md += '**Related Keywords:**\\n';\n    for (const kw of seoData.keyword_suggestions.slice(0, 10)) {\n      md += `- ${kw.keyword} (Search Vol: ${kw.search_volume})\\n`;\n    }\n    md += '\\n';\n  }\n  \n  if (seoData.related_searches?.length) {\n    md += `**Related Searches:** ${seoData.related_searches.join(', ')}\\n\\n`;\n  }\n}\n\n// Add generation footer\nmd += `\\n---\\n\\n*Generated on ${new Date().toISOString().split('T')[0]} | SEO-optimized content*\\n`;\n\nreturn [{\n  json: {\n    id: topicData.id,\n    topic: topicData.topic,\n    category: topicData.category,\n    priority: topicData.priority,\n    title: title,\n    draft_markdown: md,\n    seo_enrichment: seoData\n  }\n}];"
      }
    },
    {
      "id": "set-in-review",
      "name": "Update Status → In Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300],
      "parameters": {
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "status", "value": "In Review" }]
        },
        "options": {}
      }
    },
    {
      "id": "gotohuman-approval",
      "name": "GoToHuman Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2200, 300],
      "parameters": {
        "url": "https://api.gotohuman.com/v1/reviews",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Review: {{ $json.topic }}\",\n  \"description\": \"Please review the generated content for accuracy and quality.\",\n  \"content\": {{ JSON.stringify($json.draft_markdown) }},\n  \"metadata\": {\n    \"topic_id\": \"{{ $json.id }}\",\n    \"category\": \"{{ $json.category }}\",\n    \"priority\": \"{{ $json.priority }}\"\n  },\n  \"callback_url\": \"YOUR_N8N_WEBHOOK_URL\"\n}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "GOTOHUMAN_CREDENTIAL_ID", "name": "GoToHuman API" } }
    },
    {
      "id": "wait-for-approval",
      "name": "Wait for Human Decision",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [2400, 300],
      "webhookId": "gotohuman-callback",
      "parameters": {
        "httpMethod": "POST",
        "path": "gotohuman-callback",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "check-approval",
      "name": "Approved or Rejected?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2600, 300],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "approved",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "approved",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "rejected",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "rejected",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "id": "set-approved",
      "name": "Update Status → Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2800, 200],
      "parameters": {
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.metadata.topic_id || $json.topic_id }}",
        "method": "PATCH",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"Approved\",\n  \"approved_content\": {{ JSON.stringify($json.content || $json.draft_markdown) }}\n}",
        "options": {}
      }
    },
    {
      "id": "set-rejected",
      "name": "Update Status → Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2800, 400],
      "parameters": {
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.metadata.topic_id || $json.topic_id }}",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "status", "value": "Rejected" }]
        },
        "options": {}
      }
    },
    {
      "id": "convert-to-binary",
      "name": "Convert MD to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 200],
      "parameters": {
        "jsCode": "// Convert markdown content to binary for file upload\nconst data = $input.first().json;\nconst markdown = data.approved_content || data.content || data.draft_markdown || '';\nconst topicId = data.id || data.metadata?.topic_id || data.topic_id;\n\n// Create binary data from markdown string\nconst binaryData = Buffer.from(markdown, 'utf-8');\n\nreturn [{\n  json: {\n    topic_id: topicId\n  },\n  binary: {\n    md: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: 'content.md'\n    }\n  }\n}];"
      }
    },
    {
      "id": "upload-files",
      "name": "Upload MD File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3200, 200],
      "parameters": {
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.topic_id }}/files",
        "method": "POST",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "md",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "md"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "no-items-stop",
      "name": "No Queued Topics",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 500],
      "parameters": {}
    },
    {
      "id": "error-handler",
      "name": "Error: Reset to Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 500],
      "parameters": {
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "status", "value": "Queued" }]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch Topics", "type": "main", "index": 0 }]]
    },
    "Fetch Topics": {
      "main": [[{ "node": "Filter Queued Topics", "type": "main", "index": 0 }]]
    },
    "Filter Queued Topics": {
      "main": [[{ "node": "Has Queued Topics?", "type": "main", "index": 0 }]]
    },
    "Has Queued Topics?": {
      "main": [
        [{ "node": "Update Status → In Progress", "type": "main", "index": 0 }],
        [{ "node": "No Queued Topics", "type": "main", "index": 0 }]
      ]
    },
    "Update Status → In Progress": {
      "main": [[{ "node": "Build Document Outline (GPT-4)", "type": "main", "index": 0 }]]
    },
    "Build Document Outline (GPT-4)": {
      "main": [[{ "node": "Parse Outline JSON", "type": "main", "index": 0 }]]
    },
    "Parse Outline JSON": {
      "main": [[{ "node": "Generate Content (Perplexity)", "type": "main", "index": 0 }]]
    },
    "Generate Content (Perplexity)": {
      "main": [[{ "node": "Assemble Draft Document", "type": "main", "index": 0 }]]
    },
    "Assemble Draft Document": {
      "main": [[{ "node": "Update Status → In Review", "type": "main", "index": 0 }]]
    },
    "Update Status → In Review": {
      "main": [[{ "node": "GoToHuman Approval", "type": "main", "index": 0 }]]
    },
    "GoToHuman Approval": {
      "main": [[{ "node": "Wait for Human Decision", "type": "main", "index": 0 }]]
    },
    "Wait for Human Decision": {
      "main": [[{ "node": "Approved or Rejected?", "type": "main", "index": 0 }]]
    },
    "Approved or Rejected?": {
      "main": [
        [{ "node": "Update Status → Approved", "type": "main", "index": 0 }],
        [{ "node": "Update Status → Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Update Status → Approved": {
      "main": [[{ "node": "Convert MD to Binary", "type": "main", "index": 0 }]]
    },
    "Convert MD to Binary": {
      "main": [[{ "node": "Upload MD File", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "errorWorkflow": "error-handler",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false
}
