docs/Ecommpay Knowledge Content Pipeline - updated.json
{
  "name": "Ecommpay Knowledge Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Split the parsed outline into individual items — one per section + one for FAQs.\n// n8n will send each item to Perplexity in parallel.\n// Headings are NOT included in prompts — the Assemble node injects them.\nconst data = $input.first().json;\nconst sections = data.sections || [];\nconst faqs = data.faqs || [];\nconst keywords = data.target_keywords?.join(', ') || data.seo_enrichment?.keyword_suggestions?.slice(0,5).map(k => k.keyword).join(', ') || 'N/A';\nconst related = data.seo_enrichment?.related_searches?.join(', ') || 'N/A';\nconst paaQuestions = data.seo_enrichment?.people_also_ask?.map(p => p.question).filter(Boolean).join(', ') || 'N/A';\nconst editedPrompt = data.edited_prompt || null;\nconst reviewId = data.review_id || null;\nconst items = [];\n\nfor (let i = 0; i < sections.length; i++) {\n  const s = sections[i];\n  items.push({\n    json: {\n      section_index: i,\n      section_type: 'section',\n      heading: s.heading,\n      prompt: `Document title: \"${data.title}\"\\nPrimary topic: ${data.topic}\\nSection heading: ${s.heading}\\nSection description: ${s.description || 'N/A'}\\n\\nTarget keywords: ${keywords}\\nRelated topics: ${related}\\nCommon user questions: ${paaQuestions}\\n\\nWrite the body content for this section only. Do not include headings.`,\n      id: data.id,\n      topic: data.topic,\n      category: data.category,\n      title: data.title,\n      seo_enrichment: data.seo_enrichment,\n      target_keywords: data.target_keywords,\n      edited_prompt: editedPrompt,\n      review_id: reviewId\n    }\n  });\n}\n\nif (faqs.length > 0) {\n  const faqList = faqs.map((f, i) => `${i+1}. ${f.question}`).join('\\n');\n  items.push({\n    json: {\n      section_index: sections.length,\n      section_type: 'faqs',\n      heading: 'Frequently Asked Questions',\n      prompt: `Document title: \"${data.title}\"\\nPrimary topic: ${data.topic}\\n\\nAnswer each of these questions thoroughly:\\n${faqList}\\n\\nTarget keywords: ${keywords}\\n\\nUse ### for each question as a sub-heading. Provide clear, accurate answers.`,\n      id: data.id,\n      topic: data.topic,\n      category: data.category,\n      title: data.title,\n      seo_enrichment: data.seo_enrichment,\n      target_keywords: data.target_keywords,\n      edited_prompt: editedPrompt,\n      review_id: reviewId\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "467ab6f6-5436-42e6-9c10-78acdb783cbd",
      "name": "Split Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12160,
        4320
      ]
    },
    {
      "parameters": {
        "operation": "get-live-google-keywords-for-keywords",
        "input_mode": "json",
        "keywords_for_keywords_json": "={{ [$('Update Status → In Progress').first().json.topic] }}",
        "location_name": "United Kingdom",
        "language_name": "English",
        "date_from": {},
        "date_to": {},
        "sort_by": "search_volume"
      },
      "type": "n8n-nodes-dataforseo.dataForSeoKeywordsApi",
      "typeVersion": 1,
      "position": [
        11376,
        3856
      ],
      "id": "3e4b91f1-2af3-4f0c-bce7-43868e455c43",
      "name": "DataforSEO: Keyword Suggestions1",
      "credentials": {
        "dataForSeoApi": {
          "id": "bvrVrMq5wsm5hBO5",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "95028d33-243b-4335-8368-f64397b0e8df",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        10384,
        4240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-created",
        "options": {}
      },
      "id": "7178494c-a8ef-4acb-a353-a259fa6cc70a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        10384,
        4048
      ],
      "webhookId": "topic-created"
    },
    {
      "parameters": {
        "url": "https://ecommpay-grbzb.kinsta.app/api/topics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "options": {}
      },
      "id": "d21c405c-1036-444b-9c3f-10ad691191d9",
      "name": "Fetch Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        10592,
        4240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for queued topics only\nconst allItems = $input.all();\nconst queuedItems = allItems.filter(item => item.json.status === 'Queued');\nreturn queuedItems;"
      },
      "id": "d4f43d5d-2177-44bb-a350-989205646f82",
      "name": "Filter Queued Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10784,
        4240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "a0639e1b-ae73-4ad3-824a-93ca333344af"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e747cd03-be61-4cfa-a23c-8f9066e03c8d",
      "name": "Has Queued Topics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10992,
        4240
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "In Progress"
            }
          ]
        },
        "options": {}
      },
      "id": "7d040734-d612-4ca4-9db9-579fdfa7813b",
      "name": "Update Status → In Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        11152,
        4032
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "da0396b3-3a61-4b85-b89d-a52dea6e4464",
      "name": "Wait For Both SEO",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        11536,
        4064
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge keyword suggestions and People Also Ask data\nconst topicData = $('Update Status → In Progress').first().json;\nconst keywordResponse = $('DataforSEO: Keyword Suggestions1').first().json;\nconst paaResponse = $('DataforSEO: People Also Ask').first().json;\n\n// Extract keyword suggestions (Google Ads Keywords Data API format)\nlet keywords = [];\ntry {\n  const keywordItems = keywordResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  keywords = keywordItems\n    .slice(0, 15)\n    .map(item => ({\n      keyword: item.keyword,\n      search_volume: item.search_volume || item.keyword_info?.search_volume || 0,\n      competition: item.competition || item.keyword_info?.competition || 'unknown',\n      cpc: item.cpc || item.keyword_info?.cpc || 0\n    }))\n    .sort((a, b) => b.search_volume - a.search_volume);\n} catch (e) {\n  console.log('Error parsing keywords:', e.message);\n}\n\n// Extract People Also Ask questions\nlet peopleAlsoAsk = [];\ntry {\n  const serpItems = paaResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  const paaItems = serpItems.filter(item => item.type === 'people_also_ask');\n  \n  for (const paa of paaItems) {\n    if (paa.items) {\n      for (const q of paa.items.slice(0, 8)) {\n        peopleAlsoAsk.push({\n          question: q.title || q.question,\n          answer_snippet: q.snippet || null\n        });\n      }\n    }\n  }\n} catch (e) {\n  console.log('Error parsing PAA:', e.message);\n}\n\n// Extract related searches if available\nlet relatedSearches = [];\ntry {\n  const serpItems = paaResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  const relatedItems = serpItems.filter(item => item.type === 'related_searches');\n  \n  for (const related of relatedItems) {\n    if (related.items) {\n      relatedSearches = related.items.slice(0, 10).map(r => r.title || r.query);\n    }\n  }\n} catch (e) {\n  console.log('Error parsing related searches:', e.message);\n}\n\nreturn [{\n  json: {\n    ...topicData,\n    seo_enrichment: {\n      keyword_suggestions: keywords,\n      people_also_ask: peopleAlsoAsk,\n      related_searches: relatedSearches\n    }\n  }\n}];"
      },
      "id": "6e2ae98e-1ff2-4039-8bf5-3b7f40321584",
      "name": "Merge SEO Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11696,
        4064
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the GPT response and extract JSON outline with SEO data\nconst response = $input.first().json;\nconst enrichedData = $('Merge SEO Enrichment Data').first().json;\n\nlet outline;\ntry {\n  // Try to parse the response content\n  const content = response.message?.content || response.choices?.[0]?.message?.content || JSON.stringify(response);\n  // Extract JSON from response (handle markdown code blocks)\n  const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || content.match(/\\{[\\s\\S]*\\}/);\n  outline = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : content);\n} catch (e) {\n  // Fallback outline using SEO data\n  const paaQuestions = enrichedData.seo_enrichment?.people_also_ask || [];\n  outline = {\n    title: enrichedData.topic,\n    sections: [{ heading: 'Overview', description: 'Main content' }],\n    faqs: paaQuestions.map(p => ({ question: p.question })),\n    target_keywords: []\n  };\n}\n\nreturn [{\n  json: {\n    ...enrichedData,\n    outline: outline,\n    title: outline.title || enrichedData.topic,\n    sections: outline.sections || [],\n    faqs: outline.faqs || [],\n    target_keywords: outline.target_keywords || []\n  }\n}];"
      },
      "id": "6e603dad-85da-47b0-8dc1-f9f910be541a",
      "name": "Parse Outline JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12016,
        4320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\": \"perplexity/sonar-pro-search\", \"messages\": [{\"role\": \"system\", \"content\": $json.edited_prompt || $('Fetch System Prompt').first().json.value}, {\"role\": \"user\", \"content\": $json.prompt}], \"temperature\": 0.3, \"max_tokens\": 4000}) }}",
        "options": {}
      },
      "id": "9b0ceba4-3beb-4751-b668-246e0f59e36d",
      "name": "Generate Content (Perplexity)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        12336,
        4320
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "CoyAeThU0Qk6vdUD",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\": \"anthropic/claude-sonnet-4.6\", \"messages\": [{\"role\": \"system\", \"content\": \"You are a content quality editor and fact-checker for payment processing and ecommerce knowledge documents.\\n\\nReturn a JSON object with exactly two string fields:\\n1. content - the validated body text (no headings, preserve citation markers [1][2] etc., maintain structure and length)\\n2. analysis - a fact-check report listing each citation found and what claim it supports, any corrections made with brief explanation, and a 1-2 sentence overall accuracy assessment\\n\\nContent validation rules:\\n- Correct factual inaccuracies\\n- Improve clarity and professional tone for financial services audiences\\n- Remove unsupported or speculative claims\\n- Maintain original structure and approximate length\\n- Do NOT add or modify headings - body text only\\n- Preserve all lists, tables, and structured formatting\\n- Keep citation markers [1][2][3] etc. after the claims they support\\n\\nReturn ONLY valid JSON with no markdown fences or additional text.\"}, {\"role\": \"user\", \"content\": \"Document: \\\"\" + $('Split Sections').item.json.title + \"\\\"\\nTopic: \" + $('Split Sections').item.json.topic + \"\\nSection heading: \" + $('Split Sections').item.json.heading + \"\\nSection type: \" + $('Split Sections').item.json.section_type + \"\\n\\nContent to fact-check:\\n\\n\" + ($json.choices?.[0]?.message?.content || 'No content generated.') + \"\\n\\nSource references (verify claims against these URLs):\\n\" + (($json.citations || []).map((url, i) => '[' + (i+1) + '] ' + url).join('\\n') || 'No source URLs provided by the search engine.')}], \"temperature\": 0.2, \"max_tokens\": 6000}) }}",
        "options": {}
      },
      "id": "f8a2b7c1-d3e4-4f5a-b6c7-d8e9f0a1b2c3",
      "name": "Fact-Check & Validate (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        12576,
        4320
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "CoyAeThU0Qk6vdUD",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's structured JSON response { content, analysis }.\n// Outputs items with choices[0].message.content = validated content\n// and fact_check_analysis = Claude's citation/accuracy report.\n// Also carries forward Perplexity citation URLs so Assemble Draft can reference them.\nconst allItems = $input.all();\nconst perplexityItems = $('Generate Content (Perplexity)').all();\nconst results = [];\n\nfor (let i = 0; i < allItems.length; i++) {\n  const item = allItems[i];\n  const raw = item.json.choices?.[0]?.message?.content || '';\n  let content = raw;\n  let analysis = '';\n\n  try {\n    // Strip markdown code fences if present\n    let jsonStr = raw.replace(/^```json\\s*/i, '').replace(/```\\s*$/, '').trim();\n    const parsed = JSON.parse(jsonStr);\n    content = parsed.content || raw;\n    analysis = parsed.analysis || '(No analysis provided)';\n  } catch (e) {\n    // Fallback: treat entire response as content\n    content = raw;\n    analysis = '(Analysis not available - Claude response was not structured JSON)';\n  }\n\n  // Carry forward Perplexity source URLs (citations array from sonar-pro-search response)\n  const citations = perplexityItems[i]?.json?.citations || [];\n\n  results.push({\n    json: {\n      ...item.json,\n      choices: [{ message: { content } }],\n      fact_check_analysis: analysis,\n      citations: citations\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12700,
        4320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assemble the final markdown document from parallel Claude-validated responses.\n// Each input item is one section's validated response (items arrive in order).\n// Headings are injected here so the system prompt can produce clean body text.\n// Citations are preserved here and stripped only after GoToHuman approval.\nconst allItems = $input.all();\nconst topicData = $('Parse Outline JSON').first().json;\nconst splitItems = $('Split Sections').all();\n\n// Helper: clean formatting only — citation markers [1][2] are preserved for reviewer.\n// Citations are stripped from the final output only after GoToHuman approval.\nfunction cleanFormatting(text) {\n  return text.replace(/ {2,}/g, ' ').replace(/\\u2014/g, ' - ').replace(/\\u2013/g, ' - ');\n}\n\nconst title = topicData.title || topicData.topic;\nlet md = `# ${title}\\n\\n`;\nlet analysisReport = `## Fact-Check Analysis & Citation Report\\n\\n**Document:** ${title}\\n\\n`;\n\n// Merge each section's generated content in order\nfor (let i = 0; i < allItems.length; i++) {\n  const heading = splitItems[i]?.json?.heading || `Section ${i + 1}`;\n  const sectionType = splitItems[i]?.json?.section_type || 'section';\n  try {\n    const rawContent = allItems[i].json.choices?.[0]?.message?.content || '';\n    const content = cleanFormatting(rawContent);\n    if (content) {\n      // Inject the section heading before the body text\n      if (sectionType === 'faqs') {\n        md += `## Frequently Asked Questions\\n\\n` + content.trim() + '\\n\\n';\n      } else {\n        md += `## ${heading}\\n\\n` + content.trim() + '\\n\\n';\n      }\n    } else {\n      md += `## ${heading}\\n\\nContent pending.\\n\\n`;\n    }\n    // Append section fact-check analysis\n    const sectionAnalysis = allItems[i].json.fact_check_analysis || '';\n    if (sectionAnalysis) {\n      analysisReport += `### ${heading}\\n\\n${sectionAnalysis.trim()}\\n\\n`;\n    }\n    // Append Perplexity source URLs for this section\n    const sectionCitations = allItems[i].json.citations || [];\n    if (sectionCitations.length > 0) {\n      analysisReport += '**Source URLs:**\\n';\n      sectionCitations.forEach((url, idx) => {\n        analysisReport += `- [${idx + 1}] ${url}\\n`;\n      });\n      analysisReport += '\\n';\n    }\n  } catch (e) {\n    md += `## ${heading}\\n\\nContent generation failed.\\n\\n`;\n  }\n}\n\n// Add SEO metadata section\nconst seoData = topicData.seo_enrichment || {};\nif (seoData.keyword_suggestions?.length || seoData.related_searches?.length) {\n  md += '---\\n\\n## SEO Metadata\\n\\n';\n  if (topicData.target_keywords?.length) {\n    md += `**Target Keywords:** ${topicData.target_keywords.join(', ')}\\n\\n`;\n  }\n  if (seoData.keyword_suggestions?.length) {\n    md += '**Related Keywords:**\\n';\n    for (const kw of seoData.keyword_suggestions.slice(0, 10)) {\n      md += `- ${kw.keyword} (Search Vol: ${kw.search_volume})\\n`;\n    }\n    md += '\\n';\n  }\n  if (seoData.related_searches?.length) {\n    md += `**Related Searches:** ${seoData.related_searches.join(', ')}\\n\\n`;\n  }\n}\n\nmd += `---\\n\\n*Generated on ${new Date().toISOString().split('T')[0]}*\\n`;\n\n// Final cleanup: remove any remaining em/en dashes from the entire document\nmd = md.replace(/\\u2014/g, ' - ').replace(/\\u2013/g, ' - ');\n\n// Pass through retry fields from Split Sections (null on original flow, populated on retry)\nconst firstSplit = splitItems[0]?.json || {};\n\nreturn [{\n  json: {\n    id: topicData.id,\n    topic: topicData.topic,\n    category: topicData.category,\n    title: title,\n    draft_markdown: md,\n    fact_check_report: analysisReport,\n    seo_enrichment: seoData,\n    edited_prompt: firstSplit.edited_prompt || null,\n    review_id: firstSplit.review_id || null\n  }\n}];"
      },
      "id": "d7d9cd4a-ef19-4fce-8303-31a4e6215fb6",
      "name": "Assemble Draft Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12960,
        4320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "In Review"
            }
          ]
        },
        "options": {}
      },
      "id": "741f3f32-2ba6-4662-961a-949c763c623e",
      "name": "Update Status → In Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        12592,
        4752
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response }}",
                    "rightValue": "approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "333c57ad-2bef-465e-a9e8-d0bf139a8d0a",
      "name": "Approved or Rejected?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        13136,
        4304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $('Review Content1').item.json.metadata.topic_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Approved"
            },
            {
              "name": "approved_content",
              "value": "={{ (() => { const strip = t => t.replace(/\\[\\d+\\]/g, '').replace(/ {2,}/g, ' '); const v = $json.responseValues?.markdown?.value; const raw = (typeof v === 'string' && v) ? v : (v && typeof v === 'object' && v.content) ? v.content : ($('Assemble Draft Document').first().json.draft_markdown || ''); const marker = '<!-- DOC_START -->'; const idx = raw.indexOf(marker); const doc = idx >= 0 ? raw.slice(idx + marker.length).trim() : raw; return strip(doc); })() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "687fb3c2-a5b3-4645-b92f-d6510d860903",
      "name": "Update Status → Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        13392,
        4208
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $('Review Content1').item.json.metadata.topic_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "522cfb3b-9978-4c7e-b8a7-f726a8639bf5",
      "name": "Update Status → Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        13392,
        4400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert markdown content to binary for file upload\nconst data = $input.first().json;\nconst markdown = data.approved_content || data.content || \"\";\nconst topicId = data.id || data.topic_id;\n\n// Create binary data from markdown string\nconst binaryData = Buffer.from(markdown, 'utf-8');\n\nreturn [{\n  json: {\n    topic_id: topicId\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `topic_${topicId}.md`\n    }\n  }\n}];"
      },
      "id": "9adc1413-cd2c-4c9c-b28d-a3b2ef5bc909",
      "name": "Convert MD to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13600,
        4208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.topic_id }}/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "md",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "45262515-c612-42b6-bee7-f79c0d1e87d7",
      "name": "Upload MD File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        13792,
        4208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.topic.id }}/generate-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "options": {}
      },
      "id": "5e684991-161c-47d0-b8ec-760c8e1ea3bf",
      "name": "Generate Branded PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        13984,
        4208
      ]
    },
    {
      "parameters": {},
      "id": "25542eea-24f6-4d45-9b21-42d0f97a2276",
      "name": "No Queued Topics",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        11184,
        4480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Queued"
            }
          ]
        },
        "options": {}
      },
      "id": "8ff334e9-b7f6-4e4c-b76a-870f97e22223",
      "name": "Error: Reset to Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        11584,
        4448
      ]
    },
    {
      "parameters": {
        "operation": "get-live-google-organic-serp-advanced",
        "keyword": "={{ $('Update Status → In Progress').first().json.topic }}",
        "location_name": "United Kingdom",
        "language_name": "English",
        "depth": 10,
        "group_organic_results": false,
        "max_crawl_pages": {},
        "browser_screen_width": {},
        "browser_screen_height": {},
        "browser_screen_resolution_ratio": {},
        "people_also_ask_click_depth": 2,
        "remove_from_url": {
          "values": []
        }
      },
      "type": "n8n-nodes-dataforseo.dataForSeoSerpApi",
      "typeVersion": 1,
      "position": [
        11376,
        4208
      ],
      "id": "2eddce68-61a0-4170-aafc-e87f81b0fa8d",
      "name": "DataforSEO: People Also Ask",
      "credentials": {
        "dataForSeoApi": {
          "id": "bvrVrMq5wsm5hBO5",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    title: `Review: ${$json.topic}`,\n    description: \"Please review the generated content for accuracy and quality.\",\n    content: $json.draft_markdown,\n    metadata: {\n      topic_id: $json.id,\n      category: $json.category\n    },\n    callback_url: \"YOUR_N8N_WEBHOOK_URL\"\n  }\n}];\n"
      },
      "id": "96717822-9ca1-434c-9aaf-aa9956dcdbbc",
      "name": "Review Content1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12768,
        4752
      ]
    },
    {
      "parameters": {
        "reviewTemplateID": {
          "__rl": true,
          "value": "FegEaspVaKyiU4S6TN55",
          "mode": "list",
          "cachedResultName": "Ecompay Content Approval (FegEaspVaKyiU4S6TN55)"
        },
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "markdown": "={{ { ai: { prompt: $('Assemble Draft Document').first().json.edited_prompt || $('Fetch System Prompt').first().json.value }, content: $('Assemble Draft Document').first().json.fact_check_report + '\\n\\n---\\n\\n<!-- DOC_START -->\\n\\n' + $('Assemble Draft Document').first().json.draft_markdown } }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "type": "string",
              "id": "markdown",
              "displayName": "markdown (markdown)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "metaSelect": "keyValue",
        "metaKeyValues": {
          "metaArray": [
            {
              "key": "_gthTitle",
              "value": "={{ $('Assemble Draft Document').first().json.topic }}"
            }
          ]
        },
        "additionalFields": {
          "updateForReviewId": "={{ $('Extract Retry Data').isExecuted ? $('Extract Retry Data').first().json.review_id : null }}"
        }
      },
      "type": "@gotohuman/n8n-nodes-gotohuman.gotoHuman",
      "typeVersion": 1,
      "position": [
        12976,
        4752
      ],
      "id": "3deb30d7-1ebb-47b3-9d32-365992e10354",
      "name": "Send review request and wait for response1",
      "webhookId": "12d5ba83-ead1-459b-b4e0-7b6899e0f662",
      "credentials": {
        "gotoHumanApi": {
          "id": "EQZKVPh3rEWOt6ZK",
          "name": "gotoHuman account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ecommpay-grbzb.kinsta.app/api/settings/perplexity_system_prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "options": {}
      },
      "id": "a9b950b1-f5a4-4e46-8b51-6284da172875",
      "name": "Fetch System Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        11376,
        4480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the edited prompt and review ID from the GoToHuman retry webhook.\n// Output the same structure as Parse Outline JSON so Split Sections can consume it,\n// with added edited_prompt and review_id fields for the retry path.\nconst editedPrompt = $json.messages?.[0]?.content || '';\nconst reviewId = $json.reviewId || '';\n\n// Get the original outline data from the earlier execution\nconst outlineData = $('Parse Outline JSON').first().json;\n\nreturn [{\n  json: {\n    ...outlineData,\n    edited_prompt: editedPrompt,\n    review_id: reviewId\n  }\n}];"
      },
      "id": "4a17da73-1e47-4879-8245-1e964d97c10d",
      "name": "Extract Retry Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13392,
        4544
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "messages": {
          "values": [
            {
              "content": "You are a document structure expert specializing in SEO-optimized content. Generate ONLY a JSON object with no additional text.\n\nThe JSON must have:\n- title (string): SEO-optimized title\n- sections (array of {heading, description}): Main content sections incorporating relevant keywords\n- faqs (array of {question}): Questions to answer, prioritizing People Also Ask questions\n- target_keywords (array of strings): Primary keywords to target"
            },
            {
              "content": "=Create a comprehensive document outline for: \"{{ $json.topic }}\"\n\nCategory: {{ $json.category || 'General' }}\n\n--- SEO ENRICHMENT DATA ---\n\nKeyword Suggestions (by search volume):\n{{ $json.seo_enrichment.keyword_suggestions.map(k => `- ${k.keyword} (vol: ${k.search_volume}, competition: ${k.competition})`).join('\\n') || 'No keyword data available' }}\n\nPeople Also Ask Questions:\n{{ $json.seo_enrichment.people_also_ask.map(p => `- ${p.question}`).join('\\n') || 'No PAA data available' }}\n\nRelated Searches:\n{{ $json.seo_enrichment.related_searches.join(', ') || 'No related searches' }}\n\n--- INSTRUCTIONS ---\n1. Use high-volume keywords in section headings where natural\n2. Include ALL People Also Ask questions in the FAQs section\n3. Structure sections to comprehensively cover the topic and related keywords\n4. Return ONLY valid JSON, no markdown or explanation"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "dfc188d7-252a-4f90-9af3-c3c523b8ad9c",
      "name": "Build Document Outline (GPT-5.2)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        11872,
        3984
      ],
      "credentials": {
        "openAiApi": {
          "id": "QvxFiJIHvzog4XkB",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Sections": {
      "main": [
        [
          {
            "node": "Generate Content (Perplexity)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataforSEO: Keyword Suggestions1": {
      "main": [
        [
          {
            "node": "Wait For Both SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Both SEO": {
      "main": [
        [
          {
            "node": "Merge SEO Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Topics": {
      "main": [
        [
          {
            "node": "Filter Queued Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Queued Topics": {
      "main": [
        [
          {
            "node": "Has Queued Topics?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Queued Topics?": {
      "main": [
        [
          {
            "node": "Update Status → In Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Queued Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → In Progress": {
      "main": [
        [
          {
            "node": "DataforSEO: Keyword Suggestions1",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataforSEO: People Also Ask",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SEO Enrichment Data": {
      "main": [
        [
          {
            "node": "Build Document Outline (GPT-5.2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outline JSON": {
      "main": [
        [
          {
            "node": "Split Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content (Perplexity)": {
      "main": [
        [
          {
            "node": "Fact-Check & Validate (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fact-Check & Validate (Claude)": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Assemble Draft Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Draft Document": {
      "main": [
        [
          {
            "node": "Update Status → In Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → In Review": {
      "main": [
        [
          {
            "node": "Review Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved or Rejected?": {
      "main": [
        [
          {
            "node": "Update Status → Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status → Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Retry Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → Approved": {
      "main": [
        [
          {
            "node": "Convert MD to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert MD to Binary": {
      "main": [
        [
          {
            "node": "Upload MD File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataforSEO: People Also Ask": {
      "main": [
        [
          {
            "node": "Wait For Both SEO",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch System Prompt": {
      "main": [
        [
          {
            "node": "Wait For Both SEO",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Review Content1": {
      "main": [
        [
          {
            "node": "Send review request and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload MD File": {
      "main": [
        [
          {
            "node": "Generate Branded PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send review request and wait for response1": {
      "main": [
        [
          {
            "node": "Approved or Rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Retry Data": {
      "main": [
        [
          {
            "node": "Split Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Document Outline (GPT-5.2)": {
      "main": [
        [
          {
            "node": "Parse Outline JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c0636d51-9aef-4a3b-a778-a5b98166ebe8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b81aa45f0c6bd86c9bed7de4203fc1b3e47dcf75141b5df3b3bd30232888b9fb"
  },
  "id": "Fwma902UnxUm1Pa2-wi3I",
  "tags": []
}