docs/Ecommpay Knowledge Content Pipeline - updated.json
{
  "name": "Ecommpay Knowledge Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Split the parsed outline into individual items — one per section + one for FAQs.\n// n8n will send each item to Perplexity in parallel.\n// Headings are NOT included in prompts — the Assemble node injects them.\nconst data = $input.first().json;\nconst sections = data.sections || [];\nconst faqs = data.faqs || [];\nconst keywords = data.target_keywords?.join(', ') || data.seo_enrichment?.keyword_suggestions?.slice(0,5).map(k => k.keyword).join(', ') || 'N/A';\nconst related = data.seo_enrichment?.related_searches?.join(', ') || 'N/A';\nconst paaQuestions = data.seo_enrichment?.people_also_ask?.map(p => p.question).filter(Boolean).join(', ') || 'N/A';\nconst editedPrompt = data.edited_prompt || null;\nconst reviewId = data.review_id || null;\nconst items = [];\n\nfor (let i = 0; i < sections.length; i++) {\n  const s = sections[i];\n  items.push({\n    json: {\n      section_index: i,\n      section_type: 'section',\n      heading: s.heading,\n      prompt: `Document title: \"${data.title}\"\\nPrimary topic: ${data.topic}\\nSection heading: ${s.heading}\\nSection description: ${s.description || 'N/A'}\\n\\nTarget keywords: ${keywords}\\nRelated topics: ${related}\\nCommon user questions: ${paaQuestions}\\n\\nWrite the body content for this section only. Do not include headings.`,\n      id: data.id,\n      topic: data.topic,\n      category: data.category,\n      title: data.title,\n      seo_enrichment: data.seo_enrichment,\n      target_keywords: data.target_keywords,\n      edited_prompt: editedPrompt,\n      review_id: reviewId\n    }\n  });\n}\n\nconst faqSystemPrompt = `You are a subject-matter explainer writing factual, neutral FAQ content for a fintech AI assistant.\\n\\nFor each question provided, write a clear and thorough answer.\\n\\nOutput rules:\\n- Use ### before each question as a sub-heading, copying the question text exactly\\n- Write the answer as one or more paragraphs immediately after the heading\\n- Use markdown formatting (bold for key terms where helpful)\\n- Tone: neutral, educational, authoritative\\n- Do NOT mention any brands or competitors — including Stripe, Checkout, Nuvie, Mollie, Worldpay, Trust Payments, GoCardless, PayPoint, Barclaycard Payments, Lloyds Cardnet, Opayo, DNA Payments, Cashflows, takepayments, Elavon UK\\n- No preamble or closing statements`;\n\nif (faqs.length > 0) {\n  const faqList = faqs.map((f, i) => `${i+1}. ${f.question}`).join('\\n');\n  items.push({\n    json: {\n      section_index: sections.length,\n      section_type: 'faqs',\n      heading: 'Frequently Asked Questions',\n      prompt: `Document title: \"${data.title}\"\\nPrimary topic: ${data.topic}\\n\\nAnswer each of these questions thoroughly:\\n${faqList}\\n\\nUse ### before each question as a sub-heading. Provide clear, accurate answers.`,\n      id: data.id,\n      topic: data.topic,\n      category: data.category,\n      title: data.title,\n      seo_enrichment: data.seo_enrichment,\n      target_keywords: data.target_keywords,\n      edited_prompt: faqSystemPrompt,\n      review_id: reviewId\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "88c2f3ff-8b13-42ff-b827-1e8454e4f40a",
      "name": "Split Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        464
      ]
    },
    {
      "parameters": {
        "operation": "get-live-google-keywords-for-keywords",
        "input_mode": "json",
        "keywords_for_keywords_json": "={{ [$('Update Status → In Progress').first().json.topic] }}",
        "location_name": "United Kingdom",
        "language_name": "English",
        "date_from": {},
        "date_to": {},
        "sort_by": "search_volume"
      },
      "type": "n8n-nodes-dataforseo.dataForSeoKeywordsApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d6b474d1-b822-45d7-ae89-975c8894875d",
      "name": "DataforSEO: Keyword Suggestions1",
      "credentials": {
        "dataForSeoApi": {
          "id": "bvrVrMq5wsm5hBO5",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "923dfd44-5093-42e5-9707-0d2edfb8a36c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-created",
        "options": {}
      },
      "id": "aac541eb-4ec5-4b6f-ac45-b45d96f7bc3a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -992,
        192
      ],
      "webhookId": "topic-created"
    },
    {
      "parameters": {
        "url": "https://ecommpay-grbzb.kinsta.app/api/topics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "options": {}
      },
      "id": "da7ca516-57b1-456e-a36d-45fc240ca908",
      "name": "Fetch Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -784,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for queued topics only\nconst allItems = $input.all();\nconst queuedItems = allItems.filter(item => item.json.status === 'Queued');\nreturn queuedItems;"
      },
      "id": "54906e7d-29d5-47bc-920e-f83b79af6f26",
      "name": "Filter Queued Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "a0639e1b-ae73-4ad3-824a-93ca333344af"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "512f7550-10b7-4792-b217-cfc3d4ac9352",
      "name": "Has Queued Topics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -384,
        384
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "In Progress"
            }
          ]
        },
        "options": {}
      },
      "id": "af2ada87-2d90-4428-9068-82b37ddc11bd",
      "name": "Update Status → In Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -224,
        176
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "8e932701-9719-4a3f-8639-09058e984bfe",
      "name": "Wait For Both SEO",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        160,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge keyword suggestions and People Also Ask data\nconst topicData = $('Update Status → In Progress').first().json;\nconst keywordResponse = $('DataforSEO: Keyword Suggestions1').first().json;\nconst paaResponse = $('DataforSEO: People Also Ask').first().json;\n\n// Extract keyword suggestions (Google Ads Keywords Data API format)\nlet keywords = [];\ntry {\n  const keywordItems = keywordResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  keywords = keywordItems\n    .slice(0, 15)\n    .map(item => ({\n      keyword: item.keyword,\n      search_volume: item.search_volume || item.keyword_info?.search_volume || 0,\n      competition: item.competition || item.keyword_info?.competition || 'unknown',\n      cpc: item.cpc || item.keyword_info?.cpc || 0\n    }))\n    .sort((a, b) => b.search_volume - a.search_volume);\n} catch (e) {\n  console.log('Error parsing keywords:', e.message);\n}\n\n// Extract People Also Ask questions\nlet peopleAlsoAsk = [];\ntry {\n  const serpItems = paaResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  const paaItems = serpItems.filter(item => item.type === 'people_also_ask');\n  \n  for (const paa of paaItems) {\n    if (paa.items) {\n      for (const q of paa.items.slice(0, 8)) {\n        peopleAlsoAsk.push({\n          question: q.title || q.question,\n          answer_snippet: q.snippet || null\n        });\n      }\n    }\n  }\n} catch (e) {\n  console.log('Error parsing PAA:', e.message);\n}\n\n// Extract related searches if available\nlet relatedSearches = [];\ntry {\n  const serpItems = paaResponse?.tasks?.[0]?.result?.[0]?.items || [];\n  const relatedItems = serpItems.filter(item => item.type === 'related_searches');\n  \n  for (const related of relatedItems) {\n    if (related.items) {\n      relatedSearches = related.items.slice(0, 10).map(r => r.title || r.query);\n    }\n  }\n} catch (e) {\n  console.log('Error parsing related searches:', e.message);\n}\n\nreturn [{\n  json: {\n    ...topicData,\n    seo_enrichment: {\n      keyword_suggestions: keywords,\n      people_also_ask: peopleAlsoAsk,\n      related_searches: relatedSearches\n    }\n  }\n}];"
      },
      "id": "ce7d8fd4-584e-4174-8739-b2f7204e85b1",
      "name": "Merge SEO Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the GPT response and extract JSON outline with SEO data\nconst response = $input.first().json;\nconst enrichedData = $('Merge SEO Enrichment Data').first().json;\n\nlet outline;\ntry {\n  // Try to parse the response content\n  const content = response.message?.content || response.choices?.[0]?.message?.content || JSON.stringify(response);\n  // Extract JSON from response (handle markdown code blocks)\n  const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || content.match(/\\{[\\s\\S]*\\}/);\n  outline = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : content);\n} catch (e) {\n  // Fallback outline using SEO data\n  const paaQuestions = enrichedData.seo_enrichment?.people_also_ask || [];\n  outline = {\n    title: enrichedData.topic,\n    sections: [{ heading: 'Overview', description: 'Main content' }],\n    faqs: paaQuestions.map(p => ({ question: p.question })),\n    target_keywords: []\n  };\n}\n\nreturn [{\n  json: {\n    ...enrichedData,\n    outline: outline,\n    title: outline.title || enrichedData.topic,\n    sections: outline.sections || [],\n    faqs: outline.faqs || [],\n    target_keywords: outline.target_keywords || []\n  }\n}];"
      },
      "id": "b9b5b0db-e318-4a86-b65b-e6726c9e54b1",
      "name": "Parse Outline JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\": \"sonar-pro\", \"messages\": [{\"role\": \"system\", \"content\": $json.edited_prompt || $('Fetch System Prompt').first().json.value}, {\"role\": \"user\", \"content\": $json.prompt}], \"temperature\": 0.3, \"max_tokens\": 4000}) }}",
        "options": {}
      },
      "id": "80f1490d-98af-410e-9d01-940191f0a54a",
      "name": "Generate Content (Perplexity)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "34gjLCnf8fz1u0P8",
          "name": "Bearer Auth account"
        },
        "perplexityApi": {
          "id": "hWce3Bg7AU0v1Buz",
          "name": "Perplexity account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\": \"anthropic/claude-sonnet-4.6\", \"messages\": [{\"role\": \"system\", \"content\": \"You are a content quality editor and fact-checker for payment processing and ecommerce knowledge documents.\\n\\nOutput the validated content as clean Markdown, then output the separator ---FACT-CHECK--- on its own line, then your fact-check analysis.\\n\\nContent validation rules:\\n- Correct factual inaccuracies\\n- Improve clarity and professional tone for financial services audiences\\n- Remove unsupported or speculative claims\\n- Maintain original structure and approximate length\\n- Strip any ## level headings from the start of the content (they are injected separately by the assembly step and must not appear in the body)\\n- Preserve all ### and #### sub-headings exactly - do NOT strip or modify these\\n- Preserve all lists, tables, and structured formatting\\n- Keep citation markers [1][2][3] etc. after the claims they support\\n- Remove or replace any mention of the following brands with a generic description (e.g. 'a payment provider', 'a payment gateway', 'a direct debit provider'): Stripe, Checkout, Nuvie, Mollie, Worldpay, Trust Payments, GoCardless, PayPoint, Barclaycard Payments, Lloyds Cardnet, Opayo, DNA Payments, Cashflows, takepayments, Elavon UK — note any replacements made in the analysis\\n\\nOutput format: validated Markdown content first, then ---FACT-CHECK--- on its own line, then the analysis. No JSON. No code fences.\"}, {\"role\": \"user\", \"content\": \"Document: \\\"\" + $('Split Sections').item.json.title + \"\\\"\\nTopic: \" + $('Split Sections').item.json.topic + \"\\nSection heading: \" + $('Split Sections').item.json.heading + \"\\nSection type: \" + $('Split Sections').item.json.section_type + \"\\n\\nContent to fact-check:\\n\\n\" + ($json.choices?.[0]?.message?.content || 'No content generated.') + \"\\n\\nSource references (verify claims against these URLs):\\n\" + (($json.citations || []).map((url, i) => '[' + (i+1) + '] ' + url).join('\\n') || 'No source URLs provided by the search engine.')}], \"temperature\": 0.2, \"max_tokens\": 6000}) }}",
        "options": {}
      },
      "id": "5c3aec71-bb76-4472-a1c9-59d554f328e3",
      "name": "Fact-Check & Validate (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "CoyAeThU0Qk6vdUD",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response — expects Markdown content followed by ---FACT-CHECK--- separator.\n// Falls back to legacy JSON format if separator not found (handles re-runs of older content).\nconst allItems = $input.all();\nconst perplexityItems = $('Generate Content (Perplexity)').all();\nconst results = [];\n\nconst SEPARATOR = '---FACT-CHECK---';\n\nfor (let i = 0; i < allItems.length; i++) {\n  const item = allItems[i];\n  const raw = item.json.choices?.[0]?.message?.content || '';\n\n  let content = raw;\n  let analysis = '(No analysis provided)';\n\n  if (raw.includes(SEPARATOR)) {\n    const parts = raw.split(SEPARATOR);\n    content = parts[0].trim();\n    analysis = parts.slice(1).join(SEPARATOR).trim() || '(No analysis provided)';\n  } else {\n    // Fallback: try legacy JSON format\n    try {\n      let jsonStr = raw.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/m, '').trim();\n      const parsed = JSON.parse(jsonStr);\n      if (typeof parsed.content === 'string') {\n        content = parsed.content;\n        analysis = parsed.analysis || '(No analysis provided)';\n      }\n    } catch (e) {\n      content = raw;\n      analysis = '(Analysis not available)';\n    }\n  }\n\n  const citations = perplexityItems[i]?.json?.citations || [];\n\n  results.push({\n    json: {\n      ...item.json,\n      choices: [{ message: { content } }],\n      fact_check_analysis: analysis,\n      citations: citations\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "d40da811-b266-4cd3-9dfd-eb6d74c73e1d",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assemble the final markdown document from parallel Claude-validated responses.\n// Each input item is one section's validated response (items arrive in order).\n// Headings are injected here so the system prompt can produce clean body text.\n// Citations are preserved here and stripped only after GoToHuman approval.\nconst allItems = $input.all();\nconst topicData = $('Parse Outline JSON').first().json;\nconst splitItems = $('Split Sections').all();\n\n// Helper: clean formatting only — citation markers [1][2] are preserved for reviewer.\n// Citations are stripped from the final output only after GoToHuman approval.\nfunction cleanFormatting(text) {\n  return text.replace(/ {2,}/g, ' ').replace(/\\u2014/g, ' - ').replace(/\\u2013/g, ' - ');\n}\n\nconst title = topicData.title || topicData.topic;\nlet md = `# ${title}\\n\\n`;\nlet analysisReport = `## Fact-Check Analysis & Citation Report\\n\\n**Document:** ${title}\\n\\n`;\n\n// Merge each section's generated content in order\nfor (let i = 0; i < allItems.length; i++) {\n  const heading = splitItems[i]?.json?.heading || `Section ${i + 1}`;\n  const sectionType = splitItems[i]?.json?.section_type || 'section';\n  try {\n    const rawContent = allItems[i].json.choices?.[0]?.message?.content || '';\n    const content = cleanFormatting(rawContent);\n    if (content) {\n      // Inject the section heading before the body text\n      if (sectionType === 'faqs') {\n        md += `## Frequently Asked Questions\\n\\n` + content.trim() + '\\n\\n';\n      } else {\n        md += `## ${heading}\\n\\n` + content.trim() + '\\n\\n';\n      }\n    } else {\n      md += `## ${heading}\\n\\nContent pending.\\n\\n`;\n    }\n    // Append section fact-check analysis\n    const sectionAnalysis = allItems[i].json.fact_check_analysis || '';\n    if (sectionAnalysis) {\n      analysisReport += `### ${heading}\\n\\n${sectionAnalysis.trim()}\\n\\n`;\n    }\n    // Append Perplexity source URLs for this section\n    const sectionCitations = allItems[i].json.citations || [];\n    if (sectionCitations.length > 0) {\n      analysisReport += '**Source URLs:**\\n';\n      sectionCitations.forEach((url, idx) => {\n        analysisReport += `- [${idx + 1}] ${url}\\n`;\n      });\n      analysisReport += '\\n';\n    }\n  } catch (e) {\n    md += `## ${heading}\\n\\nContent generation failed.\\n\\n`;\n  }\n}\n\n// Add SEO metadata section\nconst seoData = topicData.seo_enrichment || {};\nif (seoData.keyword_suggestions?.length || seoData.related_searches?.length) {\n  md += '---\\n\\n## SEO Metadata\\n\\n';\n  if (topicData.target_keywords?.length) {\n    md += `**Target Keywords:** ${topicData.target_keywords.join(', ')}\\n\\n`;\n  }\n  if (seoData.keyword_suggestions?.length) {\n    md += '**Related Keywords:**\\n';\n    for (const kw of seoData.keyword_suggestions.slice(0, 10)) {\n      md += `- ${kw.keyword} (Search Vol: ${kw.search_volume})\\n`;\n    }\n    md += '\\n';\n  }\n  if (seoData.related_searches?.length) {\n    md += `**Related Searches:** ${seoData.related_searches.join(', ')}\\n\\n`;\n  }\n}\n\nmd += `---\\n\\n*Generated on ${new Date().toISOString().split('T')[0]}*\\n`;\n\n// Final cleanup: remove any remaining em/en dashes from the entire document\nmd = md.replace(/\\u2014/g, ' - ').replace(/\\u2013/g, ' - ');\n\n// Pass through retry fields from Split Sections (null on original flow, populated on retry)\nconst firstSplit = splitItems[0]?.json || {};\n\nreturn [{\n  json: {\n    id: topicData.id,\n    topic: topicData.topic,\n    category: topicData.category,\n    title: title,\n    draft_markdown: md,\n    fact_check_report: analysisReport,\n    seo_enrichment: seoData,\n    edited_prompt: firstSplit.edited_prompt || null,\n    review_id: firstSplit.review_id || null\n  }\n}];"
      },
      "id": "79f59b6f-f77e-4be7-8ce7-c02c727d5266",
      "name": "Assemble Draft Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gotohuman.com/requestReview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_GOTOHUMAN_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ formId: 'FegEaspVaKyiU4S6TN55', fields: { markdown: { ai: { prompt: $('Extract Retry Data').isExecuted ? ($('Extract Retry Data').first().json.edited_prompt || $('Fetch System Prompt').first().json.value) : ($('Assemble Draft Document').first().json.edited_prompt || $('Fetch System Prompt').first().json.value) }, content: $('Assemble Draft Document').first().json.fact_check_report + '\\n\\n---\\n\\n<!-- DOC_START -->\\n\\n' + $('Assemble Draft Document').first().json.draft_markdown } }, meta: { _gthTitle: $('Assemble Draft Document').first().json.topic }, webhookUrl: $execution.resumeUrl, updateForReviewId: $('Extract Retry Data').isExecuted ? ($('Extract Retry Data').first().json.review_id || null) : null }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Send Review to GoToHuman",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1216,
        896
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response }}",
                    "rightValue": "approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "80565596-67ab-4364-ba69-3e5892ac9f30",
      "name": "Approved or Rejected?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1760,
        448
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $('Assemble Draft Document').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Approved"
            },
            {
              "name": "approved_content",
              "value": "={{ (() => { const strip = t => t.replace(/\\[\\d+\\]/g, '').replace(/ {2,}/g, ' '); const v = $json.responseValues?.markdown?.value; const raw = (typeof v === 'string' && v) ? v : (v && typeof v === 'object' && v.content) ? v.content : ($('Assemble Draft Document').first().json.draft_markdown || ''); const marker = '<!-- DOC_START -->'; const idx = raw.indexOf(marker); const doc = idx >= 0 ? raw.slice(idx + marker.length).trim() : raw; return strip(doc); })() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1f462b22-8415-421c-a8a2-3a762bda10de",
      "name": "Update Status → Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2016,
        352
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $('Assemble Draft Document').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "3058301f-5ba2-4f6a-b6ad-1654b327891f",
      "name": "Update Status → Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2016,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert markdown content to binary for file upload\nconst data = $input.first().json;\nconst markdown = data.approved_content || data.content || \"\";\nconst topicId = data.id || data.topic_id;\n\n// Create binary data from markdown string\nconst binaryData = Buffer.from(markdown, 'utf-8');\n\nreturn [{\n  json: {\n    topic_id: topicId\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `topic_${topicId}.md`\n    }\n  }\n}];"
      },
      "id": "7e08e8ce-3b71-4c93-8374-761a1d6bb3d1",
      "name": "Convert MD to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.topic_id }}/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "md",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "aaf0e5f1-80f9-4ca3-b676-a8fa7d5f2335",
      "name": "Upload MD File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2416,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.topic.id }}/generate-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "options": {}
      },
      "id": "1f8596aa-64cf-4f39-a8f2-66d519571d16",
      "name": "Generate Branded PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2608,
        352
      ]
    },
    {
      "parameters": {},
      "id": "28ae4db6-079f-49ed-ada0-64f033b41ed3",
      "name": "No Queued Topics",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        624
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Queued"
            }
          ]
        },
        "options": {}
      },
      "id": "f07bafed-8ad0-4667-920b-d50c1241b657",
      "name": "Error: Reset to Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        592
      ]
    },
    {
      "parameters": {
        "operation": "get-live-google-organic-serp-advanced",
        "keyword": "={{ $('Update Status → In Progress').first().json.topic }}",
        "location_name": "United Kingdom",
        "language_name": "English",
        "depth": 10,
        "group_organic_results": false,
        "max_crawl_pages": {},
        "browser_screen_width": {},
        "browser_screen_height": {},
        "browser_screen_resolution_ratio": {},
        "people_also_ask_click_depth": 2,
        "remove_from_url": {
          "values": []
        }
      },
      "type": "n8n-nodes-dataforseo.dataForSeoSerpApi",
      "typeVersion": 1,
      "position": [
        0,
        352
      ],
      "id": "36cdec0b-d41b-4f27-ac2e-15f34748ba46",
      "name": "DataforSEO: People Also Ask",
      "credentials": {
        "dataForSeoApi": {
          "id": "bvrVrMq5wsm5hBO5",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ecommpay-grbzb.kinsta.app/api/topics/{{ $('Assemble Draft Document').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "In Review"
            },
            {
              "name": "gotohuman_review_url",
              "value": "={{ $json.gthLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Update Status → In Review + Store Review URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1440,
        896
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Wait for GoToHuman Response",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        896
      ],
      "webhookId": "e5f6a7b8-c9d0-1234-efab-345678901234"
    },
    {
      "parameters": {
        "url": "https://ecommpay-grbzb.kinsta.app/api/settings/perplexity_system_prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 37c88096d89e4714475bc610b50805b55191b6e14b08127704111bfa98fcebec"
            }
          ]
        },
        "options": {}
      },
      "id": "efd52797-ec2d-496a-aa5d-868264b18a09",
      "name": "Fetch System Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the edited prompt and review ID from the GoToHuman retry webhook.\n// Output the same structure as Parse Outline JSON so Split Sections can consume it,\n// with added edited_prompt and review_id fields for the retry path.\nconst editedPrompt = $json.messages?.[0]?.content || '';\nconst reviewId = $json.reviewId || '';\n\n// Get the original outline data from the earlier execution\nconst outlineData = $('Parse Outline JSON').first().json;\n\nreturn [{\n  json: {\n    ...outlineData,\n    edited_prompt: editedPrompt,\n    review_id: reviewId\n  }\n}];"
      },
      "id": "dcf10bb3-8343-4571-a2f4-d37b787794c4",
      "name": "Extract Retry Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        688
      ]
    },

    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "messages": {
          "values": [
            {
              "content": "You are a document structure expert specializing in SEO-optimized content. Generate ONLY a JSON object with no additional text.\n\nThe JSON must have:\n- title (string): SEO-optimized title\n- sections (array of {heading, description}): Main content sections incorporating relevant keywords\n- faqs (array of {question}): Questions to answer, prioritizing People Also Ask questions\n- target_keywords (array of strings): Primary keywords to target"
            },
            {
              "content": "=Create a comprehensive document outline for: \"{{ $json.topic }}\"\n\nCategory: {{ $json.category || 'General' }}\n\n--- SEO ENRICHMENT DATA ---\n\nKeyword Suggestions (by search volume):\n{{ $json.seo_enrichment.keyword_suggestions.map(k => `- ${k.keyword} (vol: ${k.search_volume}, competition: ${k.competition})`).join('\\n') || 'No keyword data available' }}\n\nPeople Also Ask Questions:\n{{ $json.seo_enrichment.people_also_ask.map(p => `- ${p.question}`).join('\\n') || 'No PAA data available' }}\n\nRelated Searches:\n{{ $json.seo_enrichment.related_searches.join(', ') || 'No related searches' }}\n\n--- INSTRUCTIONS ---\n1. Use high-volume keywords in section headings where natural\n2. Include ALL People Also Ask questions in the FAQs section\n3. Structure sections to comprehensively cover the topic and related keywords\n4. Return ONLY valid JSON, no markdown or explanation"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "9c264ee3-0d94-4366-a334-d12d469c0fe3",
      "name": "Build Document Outline (GPT-5.2)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        496,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "QvxFiJIHvzog4XkB",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Sections": {
      "main": [
        [
          {
            "node": "Generate Content (Perplexity)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataforSEO: Keyword Suggestions1": {
      "main": [
        [
          {
            "node": "Wait For Both SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Both SEO": {
      "main": [
        [
          {
            "node": "Merge SEO Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Topics": {
      "main": [
        [
          {
            "node": "Filter Queued Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Queued Topics": {
      "main": [
        [
          {
            "node": "Has Queued Topics?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Queued Topics?": {
      "main": [
        [
          {
            "node": "Update Status → In Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Queued Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → In Progress": {
      "main": [
        [
          {
            "node": "DataforSEO: Keyword Suggestions1",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataforSEO: People Also Ask",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SEO Enrichment Data": {
      "main": [
        [
          {
            "node": "Build Document Outline (GPT-5.2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outline JSON": {
      "main": [
        [
          {
            "node": "Split Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content (Perplexity)": {
      "main": [
        [
          {
            "node": "Fact-Check & Validate (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fact-Check & Validate (Claude)": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Assemble Draft Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Draft Document": {
      "main": [
        [
          {
            "node": "Send Review to GoToHuman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review to GoToHuman": {
      "main": [
        [
          {
            "node": "Update Status → In Review + Store Review URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → In Review + Store Review URL": {
      "main": [
        [
          {
            "node": "Wait for GoToHuman Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for GoToHuman Response": {
      "main": [
        [
          {
            "node": "Approved or Rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved or Rejected?": {
      "main": [
        [
          {
            "node": "Update Status → Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status → Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Retry Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → Approved": {
      "main": [
        [
          {
            "node": "Convert MD to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert MD to Binary": {
      "main": [
        [
          {
            "node": "Upload MD File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataforSEO: People Also Ask": {
      "main": [
        [
          {
            "node": "Wait For Both SEO",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch System Prompt": {
      "main": [
        [
          {
            "node": "Wait For Both SEO",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Upload MD File": {
      "main": [
        [
          {
            "node": "Generate Branded PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Retry Data": {
      "main": [
        [
          {
            "node": "Split Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Document Outline (GPT-5.2)": {
      "main": [
        [
          {
            "node": "Parse Outline JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "64671ba3-c2f3-4094-9a48-7706eca3c20e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b81aa45f0c6bd86c9bed7de4203fc1b3e47dcf75141b5df3b3bd30232888b9fb"
  },
  "id": "Fwma902UnxUm1Pa2-wi3I",
  "tags": []
}